---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
	<div class="flex flex-col gap-2">
		<p class="text-sm font-light">
			Hello, I'm Mendez, a Full Stack Developer based in Miami.
			<br />
			 My toolkit includes:
			<ul class="list-disc list-inside">
				<li>JavaScrypt - TypeScript</li>
				<li>React - Svelte</li>
				<li>API Developmet</li>
				<li>Python</li>
				<li>Automation</li>
				<li>Data - Pandas - Numpy</li>
			</ul>
		</p>
		<p class="text-sm font-light">
			Outside of programming, I'm enthusiastic about exploring emerging
			tech and gadgets. A unique hobby I enjoy is delving into different
			technologies - they're like intriguing puzzles to me.
		</p>
		<p class="text-sm font-light">
			Although I have my favorite technologies, I'm always open to using
			whatever tool best fits the project. My ultimate aim is to craft the
			ideal solution for every challenge.
		</p>
	</div>
</Card>
