---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon";
import Tooltip from "./Tooltip/index";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
	<div class="flex w-full h-full">
		<div class="flex flex-col justify-between md:max-h-[300px] gap-4">
			<div class="flex flex-col h-full">
				<h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
				<p class="m-0 font-light text-xl">
					Hi, I'm <b class="font-bold">Yarien Mendez</b>, a seasoned
					Full Stack Developer with a flair for crafting dynamic and
					responsive web applications. My expertise lies in Python,
					TypeScript, React, and Svelte, ensuring that every project
					not only functions seamlessly but also delivers a stellar
					user experience.
				</p>
			</div>
			<div class="flex gap-4">
				<a
					href={LINKS.github}
					aria-label="github profile"
					target="_blank">
					<Button aria-label="github profile">
						<Icon name="ri:github-fill" class="h-6" />
						<span class="sr-only">GitHub Profile</span>
					</Button>
				</a>
				<a href={LINKS.x} aria-label="x profile" target="_blank">
					<Button aria-label="x profile">
						<!-- <Icon name="ri:twitter-x-line" class="h-6" /> -->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6"
							viewBox="0 0 24 24"
							><path
								fill="currentColor"
								d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231l5.45-6.231Zm-1.161 17.52h1.833L7.045 4.126H5.078L17.044 19.77Z"
							></path></svg
						>
						<span class="sr-only">X Profile</span>
					</Button>
				</a>
				<Tooltip client:visible>
					<Button aria-label="easter egg btn">
						<Icon name="ri:emotion-laugh-line" class="h-6" />
						<span class="sr-only">Easter egg button</span>
					</Button>
				</Tooltip>
			</div>
		</div>
		<img
			width="300"
			height="300"
			src="/me.webp"
			class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
			alt="memoji template"
		/>
	</div>
</Card>
